<div class="content">
  <div class="title-wrapper">
    <h1>{{ titleForm }}</h1>
    <button
      mat-raised-button
      [color]="new ? 'warn' : 'primary'"
      (click)="closeTheForm()"
    >
      <mat-icon>{{ new ? "close" : "add" }}</mat-icon
      >{{ new ? "Cancelar" : "Nueva investigación" }}
    </button>
  </div>
  <ng-container *ngIf="new; then form; else table"></ng-container>
  <!-- Table -->
  <ng-template #table>
    <div class="table-container">
      <mat-form-field style="width: 100%;">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Investigacion"
        />
      </mat-form-field>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        style="width: 100%;"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre Investigacion</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="escuela">
          <th mat-header-cell *matHeaderCellDef>Escuela</th>
          <td mat-cell *matCellDef="let element">{{ element.escuela }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="ticket">
          <th mat-header-cell *matHeaderCellDef>Ticket</th>
          <td mat-cell *matCellDef="let element">{{ element.ticket }}</td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="accent" (click)="view(row)">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </ng-template>
  <!-- Fin Table -->
  <!-- Form Investigacion -->
  <ng-template #form>
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" optional="true">
        <div class="first">
          <form [formGroup]="firstFormGroup">
            <div>
              <ng-template matStepLabel>Información Base</ng-template>
              <mat-form-field>
                <mat-label>Titulo Investigación</mat-label>
                <input
                  matInput
                  placeholder=""
                  formControlName="tituloInvestigacionForm"
                  required
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Dirección Dueña</mat-label>
                <mat-select formControlName="direccionDuenaForm">
                  <mat-option
                    *ngFor="let direccion of direccionesDuena"
                    [value]="direccion.ID_UNIDAD"
                    >{{ direccion.DESCRIPCION }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Escuelas</mat-label>
                <mat-select formControlName="escuelasForm">
                  <mat-option
                    *ngFor="let escuela of escuelas"
                    [value]="escuela.ID_UNIDAD"
                    >{{ escuela.DESCRIPCION }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field style="margin-right: 20px;" id="3">
                <input
                  readonly
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Año"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Particpación de entidades externas</mat-label>
                <mat-select
                  formControlName="aplicasForm"
                  (selectionChange)="aplicaChange($event)"
                >
                  <mat-option *ngFor="let aplica of aplicas" [value]="aplica"
                    >{{ aplica }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="aplica">
                <mat-label>Cuales</mat-label>
                <input
                  matInput
                  placeholder=""
                  formControlName="aplicaForm"
                  required
                />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-label>Areas</mat-label>
                <mat-select formControlName="areasForm" multiple>
                  <mat-option
                    (onSelectionChange)="mostrarLineas($event)"
                    *ngFor="let area of areas"
                    [value]="area.ID_AREA"
                    >{{ area.NOMBRE }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Lineas</mat-label>
                <mat-select formControlName="lineasForm" multiple>
                  <mat-option
                    *ngFor="let linea of lineas"
                    [value]="linea.LINEA"
                    >{{ linea.LINEA_NOMBRE }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>

        <div class="buttons">
          <button mat-raised-button color="primary" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>

      <!--  2  -->

      <mat-step [stepControl]="secondFormGroup" optional="true">
        <div class="buttonsBegin">
          <button
            mat-raised-button
            color="primary"
            mat-button
            (click)="openDialog()"
          >
            Agregar Investigador
          </button>
        </div>
         
            <div class="table-container">
              <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Investigador"
                />
              </mat-form-field>

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceInvestigadores">
                  <!-- Documento Column -->
                  <ng-container matColumnDef="DOCUMENTO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Documento
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.DOCUMENTO }}</td>
                  </ng-container>

                  <!-- Nombre Column -->
                  <ng-container matColumnDef="NOMBRES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nombre
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.NOMBRES }}</td>
                  </ng-container>

                  <!-- Apellido Column -->
                  <ng-container matColumnDef="APELLIDOS">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Apellido
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.APELLIDOS }}</td>
                  </ng-container>

                  <!-- Grado Column -->
                  <ng-container matColumnDef="DESC_GRADO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Grado
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.DESC_GRADO }}</td>
                  </ng-container>

                  <!-- Email Column -->
                  <ng-container matColumnDef="EMAIL">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      EMAIL
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.EMAIL }}</td>
                  </ng-container>

                  <!-- Acciones Column -->
                  <ng-container matColumnDef="ACCIONES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Acciones
                    </th>
                    <td mat-cell *matCellDef="let row">
                     
                      <button mat-icon-button color="warn" (click)="eliminarInvestigador(row)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsIn"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsIn"
                  ></tr>
                </table>

                <mat-paginator
                  [pageSizeOptions]="[5, 10, 25, 100]"
                ></mat-paginator>
              </div>
            </div>
          <!-- Fin Table -->
        <div class="buttons">
          <button mat-raised-button color="warn" mat-button matStepperPrevious>
            Atras
          </button>
          <button mat-raised-button color="primary" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Producto Investigación</ng-template>
        <div class="checks">
          <mat-checkbox (change)="productoInvestigacionChange($event, 0)"
            >Guía</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 1)"
            >Cartilla</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 2)"
            >Prototipo</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 3)"
            >Artículo</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 4)"
            >Libro</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 4)"
            >Cap. Libro</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 5)"
            >Manuales</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 6)"
            >Procedimientos</mat-checkbox
          >
          <mat-checkbox (change)="productoInvestigacionChange($event, 7)"
            >Instructivos</mat-checkbox
          >
        </div>

        <div class="buttons">
          <button mat-raised-button color="warn" mat-button matStepperPrevious>
            Atras
          </button>
          <button mat-raised-button color="primary" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>

      <!-- Detalles  -->
      <mat-step [stepControl]="fourFormGroup" optional="true">
        <ng-template matStepLabel>Detalles</ng-template>

        <form [formGroup]="fourFormGroup">
          <div class="group">
            <div class="element" *ngIf="detallesVisualizacion[0]">
              <h3>Guía</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'autorForm'"
                  [placeHolder]="'Autor'"
                  [form]="fourFormGroup"
                >
                </app-number>
              </div>
            </div>

            <div class="element" *ngIf="detallesVisualizacion[1]">
              <h3>Cartilla</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'cartillaForm'"
                  [placeHolder]="'Autor'"
                  [form]="fourFormGroup"
                >
                </app-number>
              </div>
            </div>

            <div class="element" *ngIf="detallesVisualizacion[2]">
              <h3>Prototipo</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'prototipoForm'"
                  [placeHolder]="'Autor'"
                  [form]="fourFormGroup"
                >
                </app-number>
              </div>
            </div>

            <div class="element" *ngIf="detallesVisualizacion[5]">
              <h3>Manuales</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'manualesForm'"
                  [placeHolder]="'Autor'"
                  [form]="fourFormGroup"
                >
                </app-number>
              </div>
            </div>

            <div class="element" *ngIf="detallesVisualizacion[6]">
              <h3>Procedimientos</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'procedimientosForm'"
                  [placeHolder]="'Autor'"
                  [form]="fourFormGroup"
                ></app-number>
              </div>
            </div>

            <div class="element" *ngIf="detallesVisualizacion[7]">
              <h3>Instructivos</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'instructivosForm'"
                  [placeHolder]="'Autor'"
                  [form]="fourFormGroup"
                ></app-number>
              </div>
            </div>

            <div class="element" *ngIf="detallesVisualizacion[3]">
              <h3>Artículo</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'nombreRevista'"
                  [placeHolder]="'Nombre de Revista'"
                  [form]="fourFormGroup"
                ></app-number>

                <app-number
                  [nombreCampo]="'nombreArticulo'"
                  [placeHolder]="'Nombre del Artículo'"
                  [form]="fourFormGroup"
                ></app-number>

                <mat-form-field style="margin-right: 20px;" id="3">
                  <input
                    readonly
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Año"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <app-number
                  [nombreCampo]="'codigoISSN'"
                  [placeHolder]="'Código ISSN'"
                  [form]="fourFormGroup"
                ></app-number>

                <app-number
                  [nombreCampo]="'autorArticulo'"
                  [placeHolder]="'Autor'"
                  [form]="fourFormGroup"
                >
                </app-number>
              </div>
            </div>

            <div class="element" *ngIf="detallesVisualizacion[4]">
              <h3>Libro</h3>
              <div class="doc-group">
                <app-number
                  [nombreCampo]="'nombreLibro'"
                  [placeHolder]="'Nombre Libro'"
                  [form]="fourFormGroup"
                ></app-number>

                <app-number
                  [nombreCampo]="'pagInicio'"
                  [placeHolder]="'Pagina de Inicio'"
                  [form]="fourFormGroup"
                ></app-number>

                <app-number
                  [nombreCampo]="'pagFinal'"
                  [placeHolder]="'Pagina Final'"
                  [form]="fourFormGroup"
                ></app-number>

                <app-number
                  [nombreCampo]="'editorial'"
                  [placeHolder]="'Editorial'"
                  [form]="fourFormGroup"
                >
                </app-number>

                <mat-form-field style="margin-right: 20px;" id="3">
                  <input
                    readonly
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Fecha de Publicación"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>

        <div class="buttons">
          <button mat-raised-button color="warn" mat-button matStepperPrevious>
            Atras
          </button>
          <button mat-raised-button color="primary" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>

      <!-- 5 -->
      <mat-step>
        <ng-template matStepLabel>Estímulos</ng-template>
        <div class="checks">
          <mat-checkbox (change)="estimulosChange($event, 0)"
            >Condecoraciones</mat-checkbox
          >
          <mat-checkbox (change)="estimulosChange($event, 1)"
            >Felicitaciones</mat-checkbox
          >
          <mat-checkbox (change)="estimulosChange($event, 2)"
            >Personaje del Mes</mat-checkbox
          >
          <mat-checkbox (change)="estimulosChange($event, 3)"
            >Permiso</mat-checkbox
          >
          <mat-checkbox (change)="estimulosChange($event, 4)"
            >Estatuillas</mat-checkbox
          >
          <mat-checkbox (change)="estimulosChange($event, 5)"
            >Monedas</mat-checkbox
          >
          <mat-checkbox (change)="estimulosChange($event, 6)"
            >Capacitaciones</mat-checkbox
          >
        </div>

        <div class="buttons">
          <button mat-raised-button color="warn" mat-button matStepperPrevious>
            Atras
          </button>
          <button mat-raised-button color="primary" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>

      <!-- 6-->
      <mat-step>
        <ng-template matStepLabel>Eventos</ng-template>

        <form [formGroup]="sixFormGroup">
          <div class="group">
            <app-select
              [placeholder]="'Tipo.'"
              [data]="tipoEvento"
              [argument]="'DESCRIPCION'"
              [nombreCampo]="'tipoForm'"
              [form]="sixFormGroup"
            ></app-select>

            <app-select
              [placeholder]="'Participación.'"
              [data]="participaciones"
              [argument]="'DESCRIPCION'"
              [nombreCampo]="'participacion'"
              [form]="sixFormGroup"
            ></app-select>

            <mat-form-field style="margin-right: 20px;" id="3">
              <input
                readonly
                matInput
                [matDatepicker]="picker2"
                placeholder="Fecha"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </form>

        <div class="buttons">
          <button mat-raised-button color="warn" mat-button matStepperPrevious>
            Atras
          </button>
          <button mat-raised-button color="primary" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="buttons">
          <button mat-raised-button color="warn" mat-button matStepperPrevious>
            Atras
          </button>
          <button
            mat-raised-button
            color="primary"
            mat-button
            (click)="stepper.reset()"
          >
            Ir al inicio
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-template>
  <!-- Fin Form Investigacion -->
</div>
