<div class="content">
    <div class="title-wrapper">
        <h1>{{ titleForm }}</h1>
        <button mat-raised-button [color]="new ? 'warn' : 'primary'" (click)="closeTheForm()">
            <mat-icon>{{ new ? "close" : "add" }}</mat-icon>{{ new ? "Cancelar" : "Nuevo Investigador" }}
        </button>
    </div>
    <ng-container *ngIf="new; then form; else table"></ng-container>

    <!-- Table -->
    <ng-template #table>
        <div class="table-container">

        </div>
    </ng-template>
    <!-- Fin Table -->
    <!-- Form Usuarios -->
    <ng-template #form>
        <form [formGroup]="formulario">
            <div class="group">
                <!-- Número documento -->
                <app-number
            [nombreCampo]="nombreForms[0]"
            [placeHolder]="placeholders[0]"
            [form]="formulario"
          ></app-number>
                <!-- Nombres -->
                <app-number
                [nombreCampo]="nombreForms[1]"
                [placeHolder]="placeholders[1]"
                [form]="formulario"
              ></app-number>
        
                <!-- Apellidos -->
                <app-number
                [nombreCampo]="nombreForms[2]"
                [placeHolder]="placeholders[2]"
                [form]="formulario"
              ></app-number>
            </div>
        
            <div class="group">
                <!-- Teléfono -->
                <app-number
            [nombreCampo]="nombreForms[3]"
            [placeHolder]="placeholders[3]"
            [form]="formulario"
          ></app-number>
        
                <!-- Dirección -->
                <app-number
                [nombreCampo]="nombreForms[4]"
                [placeHolder]="placeholders[4]"
                [form]="formulario"
              ></app-number>
        
                <!-- Email -->
                <app-number
                [nombreCampo]="nombreForms[5]"
                [placeHolder]="placeholders[5]"
                [form]="formulario"
              ></app-number>
            </div>
        
            <div class="group">
                <!-- Grado -->
                <app-select
                [placeholder]="'Grado'"
                [data]="grado"
                [argument]="'DESCRIPCION'"
                [nombreCampo]="nombreForms[6]"
                [form]="formulario"
              ></app-select>
                <!-- Estudios -->
                <app-select
          [placeholder]="'Estudios Acádemicos'"
          [data]="estudiosAcademicos"
          [argument]="'DESCRIPCION'"
          [nombreCampo]="nombreForms[7]"
          [form]="formulario"
        ></app-select>
        
                <!-- Otros estudios -->
                <mat-form-field *ngIf="!checkOthers()">
                    <input matInput placeholder="Otros estudios" formControlName="OtrosForm">
                </mat-form-field>
            </div>
        
            <div class="group">
                <!-- Categorización Colciencias -->
                <div class="sub-group">
                    <div>
                        <mat-label>Categorización Colciencias?</mat-label>
                        <mat-radio-group (change)="enableTipo($event.value)" formControlName="CategForm"
                            class="sub-group__radio-group" aria-labelledby="example-radio-group-label">
                            <mat-radio-button [value]="true">
                                Si
                            </mat-radio-button>
                            <mat-radio-button [value]="false">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <span class="separator"></span>
                    <div>
                        <mat-label>Tipo</mat-label>
                        <mat-radio-group formControlName="Tipo" class="sub-group__radio-group"
                            aria-labelledby="example-radio-group-label">
                            <mat-radio-button *ngFor="let tipo of tipoCategorizacion" [value]="tipo">
                                {{tipo}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
        
            </div>
            <div class="group">
                <div class="sub-group">
                    <div>
                        <!-- Profesor Investigador -->
                        <mat-label>Profesor Investigador?</mat-label>
                        <mat-radio-group formControlName="Investigador" class="sub-group__radio-group"
                            aria-labelledby="example-radio-group-label">
                            <mat-radio-button [value]="true">
                                Si
                            </mat-radio-button>
                            <mat-radio-button [value]="false">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <span class="separator"></span>
                    <div>
                        <!-- Estudiante -->
                        <mat-label>Estudiante?</mat-label>
                        <mat-radio-group formControlName="Estudiante" class="sub-group__radio-group"
                            aria-labelledby="example-radio-group-label">
                            <mat-radio-button [value]="true">
                                Si
                            </mat-radio-button>
                            <mat-radio-button [value]="false">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
        
            </div>
        
            <div class="buttons">
                <button mat-flat-button (click)="closeTheForm()">Cancelar</button>
                <button  mat-raised-button color="primary">Guardar</button>
            </div>
        </form>
        <!-- <div>{{ formulario | json }}</div> -->
    </ng-template>
    <!-- Fin Form Usuarios -->
</div>