<div class="content">
  <div class="title-wrapper">
    <h1>{{ titleForm }}</h1>
    <button
      mat-raised-button
      [color]="new ? 'warn' : 'primary'"
      (click)="closeTheForm()"
    >
      <mat-icon>{{ new ? "close" : "add" }}</mat-icon
      >{{ new ? "Cancelar" : "Nuevo Red de Investigacion" }}
    </button>
  </div>
  <ng-container *ngIf="new; then form; else table"></ng-container>

  <!-- Table -->
  <ng-template #table>
    <div class="table-container">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Red de Investigacion"
        />
      </mat-form-field>
      
    </div>
  </ng-template>
  <!-- Fin Table -->
  <!-- Form Red de Investigacion -->
  <ng-template #form>
    <form [formGroup]="formulario">
      <div class="group">
        <div class="doc-group">
         
          <app-number
          [nombreCampo]="nombreForms[0]"
          [placeHolder]="placeholders[0]"
          [form]="formulario"
        ></app-number>

        </div>
        
      </div>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- ID_RED Column -->
          <ng-container matColumnDef="ID_RED">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">
              {{ row.ID_RED }}
            </td>
          </ng-container>
      <div class="group">

          <!-- NOMBRE_RED Column -->
          <ng-container matColumnDef="NOMBRE_RED">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nombre Red
            </th>
            <td mat-cell *matCellDef="let row">{{ row.NOMBRE_RED }}</td>
          </ng-container>

          <!-- ENTIDAD Column -->
          <ng-container matColumnDef="ENTIDAD">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Entidad</th>
            <td mat-cell *matCellDef="let row">{{ row.ENTIDAD }}</td>
          </ng-container>

          <!-- ANO_CREACION Column -->
          <ng-container matColumnDef="ANO_CREACION">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Actividades
            </th>
            <td mat-cell *matCellDef="let row">{{ row.ANO_CREACION }}</td>
          </ng-container>

          <!-- SEDE_DEPTO Column -->
          <ng-container matColumnDef="SEDE_DEPTO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Departamento
            </th>
            <td mat-cell *matCellDef="let row">{{ row.SEDE_DEPTO }}</td>
          </ng-container>

          <!-- SEDE_CIUDAD Column -->
          <ng-container matColumnDef="SEDE_CIUDAD">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Ciudad
            </th>
            <td mat-cell *matCellDef="let row">{{ row.SEDE_CIUDAD }}</td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="ACCIONES">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="accent" (click)="updateCaso(row)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteCaso(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        <app-number
          [nombreCampo]="nombreForms[1]"
          [placeHolder]="placeholders[1]"
          [form]="formulario"
        ></app-number>

        <mat-form-field>
          <mat-label>Seleccione una fecha</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      
      </div>

      <div class="group">

        <div class="doc-group">
          <div *ngIf="colombia.length>0">
          <mat-form-field class="input-width">
            <mat-select placeholder="Departamento" #departamento [formControlName]="departamentoForm" 
            (selectionChange)="departamentoSeleccionado(departamento.value)"  required>
                <mat-option *ngFor="let departamento of colombia" [value]="departamento.id">
                  {{ departamento.departamento }}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="ciudades.length>0">
        <mat-form-field class="input-width">
          <mat-select placeholder="Ciudad" #ciudad [formControlName]="ciudadForm" 
          (selectionChange)="seleccionarCiudad(ciudad.value)"  required>
              <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                {{ ciudad }}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
     

          </div>
      </div>

      

      <div class="buttons">
        <!-- <button mat-flat-button (click)="closeTheForm()">Cancelar</button> -->
        <button mat-raised-button color="primary"  [disabled]="formulario.invalid">Guardar</button>
      </div>
    </form>
    <!-- <div>{{ formulario | json }}</div> -->
 
  </ng-template>
  <!-- Fin Red de Investigacion -->
</div>
