<mat-form-field class="max-width">
  <input
    matInput
    placeholder="{{ data.placeholder }}"
    aria-label="State"
    [matAutocomplete]="auto"
    [formControl]="dataControl"
  />
  <mat-icon matSuffix class="arrow-drop">arrow_drop_down </mat-icon>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="display.bind(this)">
    <mat-option *ngFor="let item of filteredData | async" [value]="item">
      {{ item[data.argument] }}
    </mat-option>
  </mat-autocomplete>
  <mat-error>{{ constantes.errors.requiredField }}</mat-error>
</mat-form-field>
