.info {
    padding: 2rem;
    display: grid;
    grid-gap: 2rem;
    max-width: 1000px;
    margin: auto;
}

.mision, .vision {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    & img {
        width: 350px;
    }
}
.mision {
    grid-template-columns: min-content 1fr;
}
.vision {
    grid-template-columns: 1fr min-content;
}

.description {
    text-align: justify;
}
