<app-carousel></app-carousel>
<div class="info">
  <div class="mision">
    <div>
      <img src="assets/images/Mision.jpg" alt="" />
    </div>
    <div class="description">
      El fin primordial de la Policía Nacional es el mantenimiento de la
      convivencia como condición necesaria, para el ejercicio de los derechos y
      libertades públicas y para asegurar que los habitantes de Colombia
      convivan en paz fundamentada en el código de ética policial.
    </div>
  </div>
  <div class="vision">
    <div class="description">
      Al 2030 seremos una organización preparada para responder ante el cambio
      social a nivel local y global, como resultado de transformaciones
      estructurales que generen cultura y conciencia de futuro responsable en la
      ciudadanía.
    </div>
    <div>
      <img src="assets/images/Vision.jpg" alt="" />
    </div>
  </div>
</div>
