<div class="content">
  <h1>Administración</h1>
  <p class="administracion-p"></p>
  <div class="administracion-wrapper">
    <button
      mat-stroked-button
      color="primary"
      class="admin-button"
      routerLink="/administracion/usuarios"
    >
      <mat-icon>
        perm_identity
      </mat-icon>
      <span>Usuarios</span>
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="admin-button"
      routerLink="/administracion/newinvestigadores"
    >
      <mat-icon>
        school
      </mat-icon>
      <span>Investigadores</span>
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="admin-button"
      routerLink="/administracion/unidades"
    >
      <mat-icon>
        extension
      </mat-icon>
      <span>Unidades</span>
    </button>
  </div>
</div>
