<div class="content">
  <div class="title-wrapper">
    <h1>{{ titleForm }}</h1>
    <button
      mat-raised-button
      [color]="new ? 'warn' : 'primary'"
      (click)="closeTheForm()"
    >
      <mat-icon>{{ new ? "close" : "add" }}</mat-icon
      >{{ new ? "Cancelar" : "Nuevo usuario" }}
    </button>
  </div>
  <ng-container *ngIf="new; then form; else table"></ng-container>

  <!-- Table -->
  <ng-template #table>
    <div class="table-container">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Usuario" />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Tipo Doc Column -->
          <ng-container matColumnDef="SIGLA_TIPO_DOCUMENTO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Doc</th>
            <td mat-cell *matCellDef="let row">
              {{ row.SIGLA_TIPO_DOCUMENTO }}
            </td>
          </ng-container>

          <!-- Documento Column -->
          <ng-container matColumnDef="DOCUMENTO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
            <td mat-cell *matCellDef="let row">{{ row.DOCUMENTO }}</td>
          </ng-container>

          <!-- Nombre Column -->
          <ng-container matColumnDef="NOMBRES">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.NOMBRES }}</td>
          </ng-container>

          <!-- Apellido Column -->
          <ng-container matColumnDef="APELLIDOS">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
            <td mat-cell *matCellDef="let row">{{ row.APELLIDOS }}</td>
          </ng-container>

          <!-- Grado Column -->
          <ng-container matColumnDef="DESC_GRADO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Grado</th>
            <td mat-cell *matCellDef="let row">{{ row.DESC_GRADO }}</td>
          </ng-container>

          <!-- Unidad Column -->
          <ng-container matColumnDef="SIGLA_UNIDAD">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad</th>
            <td mat-cell *matCellDef="let row">{{ row.SIGLA_UNIDAD }}</td>
          </ng-container>

          <!-- Usuario Column -->
          <ng-container matColumnDef="USUARIO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td mat-cell *matCellDef="let row">{{ row.USUARIO }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="EMAIL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
            <td mat-cell *matCellDef="let row">{{ row.EMAIL }}</td>
          </ng-container>

          <!-- Perfil Column -->
          <ng-container matColumnDef="PERFIL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Perfil</th>
            <td mat-cell *matCellDef="let row">
              {{ row.PERFIL == 1 ? "Administrador" : "Usuario" }}
            </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="ACCIONES">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="accent" (click)="updateUser(row)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUser(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </ng-template>
  <!-- Fin Table -->
  <!-- Form Usuarios -->
  <ng-template #form>
    <form [formGroup]="formulario">
      <div class="group">
        <div class="doc-group">
          <!-- Tipo documento -->
          <app-select
            [placeholder]="'Tipo Doc.'"
            [data]="tipoDoc"
            [argument]="'DESCRIPCION'"
            [nombreCampo]="nombreForms[3]"
            [form]="formulario"
          ></app-select>

          <!-- Número documento -->
          <app-number
            [nombreCampo]="nombreForms[0]"
            [placeHolder]="placeholders[0]"
            [form]="formulario"
          ></app-number>
        </div>
        <!-- Nombres -->
        <app-number
          [nombreCampo]="nombreForms[1]"
          [placeHolder]="placeholders[1]"
          [form]="formulario"
        ></app-number>

        <!-- Apellidos -->
        <app-number
          [nombreCampo]="nombreForms[2]"
          [placeHolder]="placeholders[2]"
          [form]="formulario"
        ></app-number>
      </div>

      <div class="group">
        <!-- Teléfono -->
        <app-number
          [nombreCampo]="nombreForms[4]"
          [placeHolder]="placeholders[3]"
          [form]="formulario"
        ></app-number>

        <!-- Email -->
        <app-number
          [nombreCampo]="nombreForms[5]"
          [placeHolder]="placeholders[4]"
          [form]="formulario"
        ></app-number>
      </div>

      <div class="group">
        <!-- Grado -->

        <app-select
          [placeholder]="'Grado'"
          [data]="grado"
          [argument]="'DESCRIPCION'"
          [nombreCampo]="nombreForms[6]"
          [form]="formulario"
        ></app-select>

        <!-- Unidad -->

        <app-select
          [placeholder]="'Unidad'"
          [data]="unidad"
          [argument]="'DESCRIPCION'"
          [nombreCampo]="nombreForms[7]"
          [form]="formulario"
        ></app-select>
      </div>

      <div class="group">
        <!-- Usuario PSI -->
        <app-text></app-text>

        <!-- Perfil -->
        <app-select></app-select>

        <div class="group">
          <div class="doc-group">
          <!-- Usuario PSI -->
          <app-number [nombreCampo]="nombreForms[8]" [placeHolder]="placeholders[7]" [form]="formulario"></app-number>

          <!-- Perfil administrador usuario -->
          <app-select [placeholder]="'Perfil.'" [data]="perfil" [argument]="'DESCRIPCION'"
          [nombreCampo]="nombreForms[9]" [form]="formulario"></app-select>

          <!-- Contraseña -->
          <app-number [nombreCampo]="nombreForms[10]" [placeHolder]="placeholders[9]" [form]="formulario"></app-number>

          <!-- Confirmar Contraseña -->
         
          <app-number [nombreCampo]="nombreForms[10]" [placeHolder]="placeholders[9]" [form]="formulario"></app-number>

            <!-- <mat-error *ngIf="passwd.errors && passwd.errors.confirmPasswd">Las contraseñas no coinciden</mat-error> -->
         </div>
        </div>
      </div>

      <div class="buttons">
        <!-- <button mat-flat-button (click)="closeTheForm()">Cancelar</button> -->
        <button mat-raised-button color="primary">Guardar</button>
      </div>
    </form>
  </ng-template>
  <!-- Fin Form Usuarios -->
</div>
