.footer {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-gap: 1rem;
    height: auto;
    padding: 1rem;
    justify-content: center;
    & img {
        width: 70px;
    }
}