@import '../../../../../assets/css/variables';

.heigth {
    margin-left: 3px;
    height: 48px;
}

.menu {
    &-item {
        &__wrapper {
            cursor: pointer;
            display: grid;
            grid-template-columns: 45px 200px;
            grid-gap: 10px;
            justify-items: center;
            align-items: center;
            // padding: 10px;
            & span {
                justify-self: start;
            }
        }
    }
}

.panel {
    & * {
        outline: none !important;
    }
    box-shadow: none;
    border: none;
    &-header {
        padding: 0;
        margin: 0;
        &:hover {
            background: transparent !important;
        }
    }
    &-submenu {
        padding: 0;
        margin: 0;
        color: $gris-claro;
        & li {
            list-style: none;
            padding: 10px 0;
            transition: all .2s ease-in-out;
            &:hover {
                color: $negro;
            }
        }
    }
}

.active {
    background: $primario;
}

mat-expansion-panel {
    background: transparent;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    border-left: 3px solid $primario !important;
}

mat-expansion-panel-header {
    padding: 0 !important;
}