<div class="menu-item__wrapper" [ngClass]="{'heigth': submenu === undefined}" *ngIf="submenu === undefined" (click)="emit(); closeDrawerFunc()">
    <mat-icon color="primary" class="menu-item__icon">
      {{ icon }}
    </mat-icon>
    <span class="menu-item__text">
      {{ title }}
    </span>
  </div>
  
  <!-- <mat-accordion *ngIf="submenu !== undefined" hideToggle [multi]="false"> -->
  <mat-expansion-panel #expansion [id]="index" class="panel" *ngIf="submenu !== undefined" hideToggle (click)="emit()">
    <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'" class="panel-header">
      <mat-panel-title>
        <div class="menu-item__wrapper">
          <mat-icon color="primary" class="menu-item__icon">
            {{ icon }}
          </mat-icon>
          <span class="menu-item__text">
            {{ title }}
          </span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="panel-submenu">
      <li *ngFor="let item of submenu" [routerLink]="item.link" (click)="closeDrawerFunc()">{{item.title}}</li>
    </ul>
  </mat-expansion-panel>
  <!-- </mat-accordion> -->