<div class="content">
  <div class="title-wrapper">
    <h1>{{ titleForm }}</h1>
    <button
      mat-raised-button
      [color]="new ? 'warn' : 'primary'"
      (click)="closeTheForm()"
    >
      <mat-icon>{{ new ? "close" : "add" }}</mat-icon
      >{{ new ? "Cancelar" : "Nuevo caso emblematico" }}
    </button>
  </div>
  <ng-container *ngIf="new; then form; else table"></ng-container>

  <!-- Table -->
  <ng-template #table>
    <div class="table-container"></div>
  </ng-template>
  <!-- Fin Table -->
  <!-- Form Usuarios -->
  <ng-template #form>
    <form [formGroup]="formulario">
      <div class="group">
        <app-number
          [nombreCampo]="nombreForms[0]"
          [placeHolder]="placeholders[0]"
          [form]="formulario"
        ></app-number>

        <mat-form-field>
          <mat-label>Integrantes</mat-label>
          <mat-select [formControl]="integrantesForm" multiple>
            <mat-option
              *ngFor="let investigador of investigadores"
              [value]="investigador"
              >{{ investigador }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <!-- Lugar de Afectación -->
        <app-number
          [nombreCampo]="nombreForms[2]"
          [placeHolder]="placeholders[2]"
          [form]="formulario"
        ></app-number>

        <!-- Actividades -->
        <app-number
          [nombreCampo]="nombreForms[3]"
          [placeHolder]="placeholders[3]"
          [form]="formulario"
        ></app-number>
      </div>

      <div class="buttons">
        <!-- <button mat-flat-button (click)="closeTheForm()">Cancelar</button> -->
        <button
          mat-raised-button
          color="primary"
          [disabled]="formulario.invalid"
        >
          Guardar
        </button>
      </div>
    </form>
    <!-- <div>{{ formulario | json }}</div> -->
  </ng-template>
  <!-- Fin Form Usuarios -->
</div>
