<div class="content">
  <div class="title-wrapper">
    <h1>{{ titleForm }}</h1>
    <button
      mat-raised-button
      [color]="new ? 'warn' : 'primary'"
      (click)="closeTheForm()"
    >
      <mat-icon>{{ new ? "close" : "add" }}</mat-icon
      >{{ new ? "Cancelar" : "Nuevo caso emblematico" }}
    </button>
  </div>
  <ng-container *ngIf="new; then form; else table"></ng-container>

  <!-- Table -->
  <ng-template #table>
    <div class="table-container"></div>
  </ng-template>
  <!-- Fin Table -->
  <!-- Form Caso Emblematico -->
  <ng-template #form></ng-template>
  <!-- Fin Caso Emblematico -->
</div>
